<div mat-dialog-content>
  <p>Informacion</p>

  <div fxLayout="column"
       fxLayoutAlign="center center">
    <img (click)="showOnViewer(data)"
         class="image-container"
         [src]="data.src" />

    <button mat-button
            class="show-on-viewer-container"
            (click)="showOnViewer(data)">
      <i class="material-icons detail-icon">
        aspect_ratio
      </i>
      Ver fullscreen
    </button>
  </div>

  <div fxLayout="column">
    <div fxLayout="row">
      <i class="material-icons detail-icon">
        vpn_key
      </i>
      <span>{{data.id}}</span>
    </div>

    <div fxLayout="row">
      <i class="material-icons detail-icon">
        info
      </i>
      <span>{{data.name}}</span>
    </div>

    <div fxLayout="row">
      <i class="material-icons detail-icon">
        cloud_upload
      </i>
      <span class="data-src">{{data.src}}</span>
    </div>

    <div fxLayout="row">
      <i class="material-icons detail-icon">
        photo_size_select_large
      </i>
      <span class="data-src">{{data.size}}</span>
    </div>
    <div fxLayout="row">
      <i class="material-icons detail-icon">
        info
      </i>
      <span class="data-src">{{data.contentType}}</span>
    </div>
    <div fxLayout="row">
      <i class="material-icons detail-icon">
        photo
      </i>
      <span class="data-src">{{data.fullPath}}</span>
    </div>
    <div fxLayout="row">
      <i class="material-icons detail-icon">
        insert_invitation
      </i>
      <span class="data-src">{{data.timeCreated | date:'dd/MM/yy HH:mm'}}</span>
    </div>
  </div>
</div>
<div mat-dialog-actions
     fxLayout="row"
     fxLayoutAlign="space-between center">
  <button mat-button
          (click)="onNoClick()">
    <i class="material-icons detail-icon">
      arrow_back
    </i>
    Vover
  </button>
  <button mat-button
          [mat-dialog-close]="data">
    <i class="material-icons detail-icon">
      delete
    </i>
    Eliminar
  </button>
</div>
