<div fxLayout="column"
     class="general-container">
  <mat-toolbar color="primary">Photo Gallery</mat-toolbar>
  <mat-progress-bar mode="indeterminate"
                    *ngIf="isLoading"></mat-progress-bar>

  <div fxLayout="row wrap">
    <div *ngFor="let image of imageList"
         class="image-container"
         (click)="showDetails(image)">
      <img class="image-container"
           [src]="image.src" />
    </div>
  </div>

  <div class="take-picture-button">
    <button mat-fab
            color="primary"
            (click)="takePicture()">
      <mat-icon>photo_camera</mat-icon>
    </button>
  </div>
</div>
